APP_NAME="Megalos - Api Mikrotik"
APP_ENV=local
APP_KEY=base64:laRg00Td8wjZuROBYgH2XuSB7Un8DaYEw4RZbsOmrNI=
APP_DEBUG=true
APP_URL=http://localhost
ASSET_URL=

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=database_name
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# Setting Redis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_CLIENT=predis
REDIS_CAHCE_DB=0

# Domain
MGL_SPLASH_DOMAIN=hotspot.megaloshq.com

# Setting Mikrotik
MIKROTIK_AUTHENTICATION_PORT=1812
MIKROTIK_ACCOUNTING_PORT=1813
MIKROTIK_TIMEOUT=30
MIKROTIK_NAME=megalos
MIKROTIK_INTERFACE=ether2-wan

# ROOT ADS FOLDER
MEGALOS_ADS_ROOT_FOLDER=

